name: preferences
description: "A new Flutter project."
publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ^3.6.0

resolution: workspace

dependencies:
  disco:
    path: ../../packages/disco
  flutter:
    sdk: flutter
  shared_preferences: ^2.4.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
