name: Publish to pub.dev

on:
  push:
    tags:
      - "disco-v[0-9]+.[0-9]+.[0-9]+" # Matches disco-v1.2.3
      - 'disco-v[0-9]+.[0-9]+.[0-9]+\+[0-9]+' # Matches disco-v1.2.3+1
      - "disco_lint-v[0-9]+.[0-9]+.[0-9]+" # Matches disco_lint-v1.2.3
      - 'disco_lint-v[0-9]+.[0-9]+.[0-9]+\+[0-9]+' # Matches disco_lint-v1.2.3+1

# Publish using the reusable workflow from dart-lang.
jobs:
  publish-disco:
    if: startsWith(github.ref, 'refs/tags/disco-')
    permissions:
      id-token: write # Required for authentication using OIDC
    uses: nank1ro/flutter-shadcn-ui/.github/workflows/cached-publish.yaml@main
    with:
      environment: pub.dev
      working-directory: packages/disco
      install_flutter: true

  publish-disco-lint:
    if: startsWith(github.ref, 'refs/tags/disco_lint-')
    permissions:
      id-token: write # Required for authentication using OIDC
    uses: nank1ro/flutter-shadcn-ui/.github/workflows/cached-publish.yaml@main
    with:
      environment: pub.dev
      working-directory: packages/disco_lint
      install_flutter: false
